
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<style>
.frame {
    width: 700px;
    height: 600px;
    border: 0;
}
</style>

<% result_url = "http://localhost:3000/userfiles/#{@userfile.id}/content?content_loader=html_file&arguments=#{@userfile.name}/report/index.html" %>

<br/>

<a target="_blank" href="<%= result_url %>">
  Open viewer in a new window
</a>

<br/>

<iframe class="frame" src="<%= result_url %>" />
